* {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}
.title {
   color: white;
   background-color: rgb(52, 58, 64);
   width: 100%;
   padding: 15px 0;
   text-align: center;
}
.set-input {
   padding: 0 30px 0 60px;
}
.set-par {
   margin: 10px 0;
}
.set-h4 {
   margin: 20px 0;
}
input[type="text"] {
   width: 100%;
   padding: 5px;
}
input[type="radio"],
input[type="checkbox"] {
   margin: 0 5px 0 15px;
}
.set-button {
   margin: 0 5px 0 5px;
}
h5 {
   display: inline-block;
}
.container {
   width: fit-content;
   position: relative;
   font-size: 18px;
   user-select: none;
   /* margin-right: 15px ; */
   padding-left: 30px;
   display: inline-block;
}
.container input {
   display: none;
}
.container .circle {
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   border: 1px solid #eee;
   background-color: white;
   position: absolute;
   left: 0;
   top: 5px;
}
.container .checkMark {
   display: inline-block;
   width: 20px;
   height: 20px;
   border: 1px solid #eee;
   background-color: white;
   position: absolute;
   left: 0;
   top: 5px;
}
.container:hover .circle,
.container:hover .checkMark {
   border: none;
   background-color: #eee;
}
.container input:checked + .circle,
.container input:checked + .checkMark {
   border: none;
   background-color: #f5eb6d;
   box-shadow: 0 0 5px #f5eb6d, 0 0 50px #f5eb6d;
}
.container input:checked + .circle:after {
   content: "";
   height: 8.5px;
   width: 8.5px;
   background-color: white;
   position: absolute;
   border-radius: 50%;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}
.container input:checked + .checkMark:after {
   content: "";
   position: absolute;
   height: 6px;
   width: 10px;
   border-left: 2.5px solid white;
   border-bottom: 2.5px solid white;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(-45deg);
}
